.my-checkbox {
    width: 200px;
    height: 100px;
    border: 1px solid gray;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.my-checkbox input {
    display: none;
}

.my-checkbox .checkbox {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.my-checkbox input:checked + .checkbox {
    background-color: green;
}