:root {
    --min-font-size: 16px;
    --max-font-size: 32px;
    --min-viewport-width: 200px;
    --max-viewport-width: 400px;
}

.title {
    text-align: center;
    /* font-size: calc(
        var(--min-font-size) + 
        (var(--max-font-size) - var(--min-font-size)) * 
        ((100vw - var(--min-viewport-width)) / (var(--max-viewport-width) - var(--min-viewport-width)))
    ); */
}

@media (max-width: 200px) {
    .title {
        font-size: var(--min-font-size);
    }
}

@media (min-width: 400px) {
    .title {
        font-size: var(--max-font-size);
    }
}