.close1, .close2, .close3, .close4 {
    border: 1px solid #aaa;
}

.close1 {
    width: 20px;
    height: 20px;

}

.close2 {
    width: 40px;
    height: 40px;
}

.close3 {
    width: 60px;
    height: 60px;
}

.close4 {
    width: 100px;
    height: 100px;
}
button {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button::before,
button::after {
    content: '';
    position: absolute;
    width: 75%;
    height: 2px;
    background-color: #aaa;
    top: 50%;
    left: 50%;
}

button::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

button::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}