.container {
    width: 500px;
    height: 300px;
    display: flex;
}
  
.left {
    min-width: 100px;
    background-color: #f44336;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 25%;
}
  
.right {
    background-color: #2973af;
    flex-grow: 1;
    flex-shrink: 1;
}